@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100%;
    background-color: aliceblue;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    text-transform: uppercase
}

header > p {
    padding-bottom: 50px;
}

a {
    color: cornsilk;
    font-size: 20px;
}

a:hover {
    background-color: white;
    color: black;
    transition: 0.8s;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.705);
    color: white;
}

section.imagem > p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.185);
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}